<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Вход</title>
</head>
<body>
<div style="text-align: center">
    <h2>Вход</h2>
</div>
<form th:action="@{/login}" method="post" style="text-align: center">
    <div style="color: red" th:if="${param.error}">
        <h4>Неверные данные</h4>
    </div>
    <h4><label for="username">Username:
        <input id="username" type="text" name="username">
    </label></h4>
    <h4><label for="password">Password:
        <input id="password" type="password" name="password">
    </label></h4>
    <button type="submit">Login</button>
</form>
</body>
</html>