<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Hotels Main Page</title>
    <script src="/webjars/jquery/3.7.1/jquery.min.js"></script>
    <script th:src="@{/js/hotelsFree.js}"></script>
    <script th:src="@{/js/bookings.js}"></script>
    <style>
        table {
            width: 500px;
            margin: auto;
        }

        td {
            border: 1px solid black;
            text-align: center;
        }
    </style>
</head>
<body>
<span th:insert="~{fragment :: user-info}"></span>
<span th:insert="~{fragment :: logout}"></span>
<div style="text-align: center">
    <h1>Бронирование отеля</h1>
    <div style="color: red" id="filterError"></div>
    <form action="/hotels/free">
        <label for="city">Город (RU любой регистр):
            <input id="city" type="text" name="city">
        </label><br><br>
        <label for="dateFrom">Дата заезда:
            <input id="dateFrom" type="date" name="dateFrom">
        </label><br><br>
        <label for="dateTo">Дата выезда:
            <input id="dateTo" type="date" name="dateTo">
        </label><br><br>
        <div>
            <label for="stars">Количество звезд:
                <select id="stars" name="stars">
                    <option>5</option>
                    <option>4</option>
                    <option>3</option>
                    <option>2</option>
                    <option>1</option>
                </select>
            </label>
        </div>
        <br>
        <input type="button" value="Поиск" onclick="send_filters()">
        <button type="submit">Бронирование</button>
    </form>
    <br>
    <a th:href="@{/bookings(username=${#authentication.getPrincipal().username})}">
        <button>История бронирования</button>
    </a>
    <br><br>
    <a href="/hotels/create" sec:authorize="hasAuthority('MANAGER')">
        <button>Создать отель</button>
    </a>
    <br><br>
    <a href="/hotels" sec:authorize="hasAuthority('MANAGER')">
        <button>Список отелей</button>
    </a>
    <br><br>
    <a href="/users" sec:authorize="hasAuthority('MANAGER')">
        <button>Список пользователей</button>
    </a>
    <table>
        <thead>
        <tr>
            <th>Название отеля</th>
            <th>Количество звезд</th>
            <th>Город</th>
            <th>Количество свободных номеров</th>
        </tr>
        </thead>
        <tbody id="hotelsTable">
        </tbody>
    </table>
</div>
</body>
</html>