<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hotel</title>
</head>
<body>
<span th:insert="~{fragment :: user-info}"></span>
<div style="text-align: center">
    <h1>Информация об отеле</h1>
    <form th:action="@{/hotels/{hotelId}/update(hotelId=${hotel.getId()})}" method="post">
        <label for="hotelName">Название отеля:
            <input id="hotelName" type="text" name="hotelName" th:value="${hotel.getHotelName()}">
        </label><br><br>
        <label for="city">Город:
            <input id="city" type="text" name="city" th:value="${hotel.getCity()}">
        </label><br><br>
        <label for="stars">Количество звезд:
            <input id="stars" type="text" name="stars" th:value="${hotel.getStars()}">
        </label>
        <br><br>
        <button type="submit">Редактировать</button>
    </form>
    <br>
    <a th:href="@{/rooms(hotelId=${hotel.getId()})}">
        <button>Номера</button>
    </a>
    <br><br>
    <h4>Добавление номера</h4>
    <form th:action="@{/rooms/create}" method="post">
        <input type="hidden" name="hotelId" th:value="${hotel.getId()}">
        <label for="roomNumber">Номер:
            <input id="roomNumber" type="text" name="roomNumber">
        </label><br><br>
        <label for="roomFloor">Этаж:
            <input id="roomFloor" type="text" name="roomFloor">
        </label><br><br>
        <button type="submit">Добавить номер</button>
    </form>
    <br>
    <span th:insert="~{fragment :: main-page}"></span>
    <br>
    <br>
    <a href="/hotels">
        <button>Вернуться к списку отелей</button>
    </a>
</div>
</body>
</html>