<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Room</title>
</head>
<body>
<span th:insert="~{fragment :: user-info}"></span>
<span th:insert="~{fragment :: logout}"></span>
<div style="text-align: center">
    <h1>Информация о номере</h1>
    <form th:action="@{/rooms/{roomId}/update(roomId=${room.id()})}" method="post">
        <input type="hidden" name="roomNumber" th:value="${room.roomNumber()}">
        <input type="hidden" name="hotelId" th:value="${room.hotelId()}">
        <label for="floor">Этаж:
            <input id="floor" type="text" name="roomFloor" th:value="${room.roomFloor()}">
        </label><br><br>
        <button type="submit">Редактировать</button>
    </form>
    <br><br>
    <a th:href="@{/hotels/{hotelId}(hotelId=${room.hotelId()})}">
        <button>Вернуться к отелю</button>
    </a>
    <br><br>
    <a href="/hotels">
        <button>Вернуться к списку отелей</button>
    </a>
    <br><br>
    <span th:insert="~{fragment :: main-page}"></span>
</div>
</body>
</html>